body {
    margin: 0;
    padding: 0;
    background: #0f310f;
    font-family: Arial, Helvetica, sans-serif;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.link-highlight {
    text-decoration: none;
    color: #ff3300;
}

input[type=range] {-webkit-appearance: none;width: 100%;background: transparent;} 
input[type=range]::-webkit-slider-thumb {-webkit-appearance: none;} 
input[type=range]:focus {outline: none;} 
input[type=range]::-ms-track {width: 100%;cursor: pointer;background: transparent;border-color: transparent;color: transparent;}

.player {
    height: 100%;
    width: 100%;
    position: relative;
}

.p-video {
    height: 100%;
    width: 100%;
}

.player:hover .p-controls {
    display: block;
}

.p-controls {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.progress-bg {
    position: relative;
    background: #888888;
    height: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.progress-hover {
    background: #aaaaaa;
    height: 100%;
    width: 0;
}

.progress {
    position: absolute;
    background: #ff3300;
    height: 100%;
    width: 0;
}

#play-pause {
    position: absolute;
    left: 4px;
    background: none;
    border: none;
    color: #ffffff;
    padding-top: 5px;
    padding-left: 5px;
    margin-left: 1px;
    font-size: 24px;
}

#play-pause:hover {
    color: #aaaaaa;
}


.p-volume {
    position: absolute;
    bottom: 28px;
    left: 38px;
    width: 20px;
    height: 20px;
}

#volume-button {
    background: none;
    border: none;
    font-size: 24px;
    color: #ffffff;
    z-index: 30;
    transform: translateY(50%);
}

#volume-button:hover {
    color: #aaaaaa;
}

input[type=range]#volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: -3px;
    background: #ffffff;
}
input[type=range]#volume-bar::-moz-range-thumb {
    transform: translateY(-4px);
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: -3px;
    background: #ffffff;
}
input[type=range]#volume-bar::-ms-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: -3px;
    background: #ffffff;
}

input[type=range]#volume-bar::-webkit-slider-runnable-track {
    width: 100px;
    height: 8px;
    background: #bbbbbb;
    border-radius: 4px;
}
input[type=range]#volume-bar::-moz-range-track {
    transform: translateY(-4px);
    width: 100px;
    height: 8px;
    background: #bbbbbb;
    border-radius: 4px;
}
input[type=range]#volume-bar::-ms-track {
    width: 100px;
    height: 8px;
    background: #bbbbbb;
    border-radius: 4px;
}

input[type=range]#volume-bar:active::-webkit-slider-thumb {
    background: #aaaaaa;
}
input[type=range]#volume-bar:active::-moz-range-thumb {
    background: #aaaaaa;
}
input[type=range]#volume-bar:active::-ms-thumb {
    background: #aaaaaa;
}

input[type=range]#volume-bar:active::-webkit-slider-runnable-track {
    background: #888888;
}
input[type=range]#volume-bar::-moz-range-track {
    background: #888888;
}
input[type=range]#volume-bar::-ms-track {
    background: #888888;
}

#volume-bar {
    position: absolute;
    top: 20px;
    left: 46px;
    width: 100px;
}

#fullscreen-button {
    position: absolute;
    right: 12px;
    background: none;
    border: none;
    color: #ffffff;
    padding-top: 5px;
    padding-left: 5px;
    margin-left: 1px;
    font-size: 24px;
}

#volume-bar-value {
    display: none;
    position: absolute;
    bottom: -16px;
    left: 160px;
    color: #ffffff;
    font-size: 16px;
}

input[type=range]#volume-bar:active + #volume-bar-value {
    display: block;
}

.time-display {
    transform: translateY(50%);
    margin-right: 84px;
    float: right;
    color: #ffffff;
    bottom: 12px;
}

#kbdhelp-list {
    display: none;
    position: absolute;
    right: 16px;
    bottom: 60px;
    background: #000000aa;
    color: #ffffff;
    padding: 8px;
    padding-top: 2px;
    border-radius: 6px;
    width: 200px;
}

.kbdhelp-item {
    padding-top: 6px;
}

#kbdhelp-icon {
    position: absolute;
    right: 44px;
    top: 16px;
    color: #ffffff;
    background: none;
    border: none;
    font-size: 20px;
}