body {
    margin: 0;
    padding: 0;
    background: #0f310f;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=range] {-webkit-appearance: none;width: 100%;background: transparent;} 
input[type=range]::-webkit-slider-thumb {-webkit-appearance: none;} 
input[type=range]:focus {outline: none;} 
input[type=range]::-ms-track {width: 100%;cursor: pointer;background: transparent;border-color: transparent;color: transparent;}

.player {
    height: 100%;
    width: 100%;
    position: relative;
}

.p-video {
    height: 100%;
    width: 100%;
}

.p-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.progress-bg {
    position: relative;
    background: #888888;
    height: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.progress-hover {
    background: #aaaaaa;
    height: 100%;
    width: 0;
}

.progress {
    position: absolute;
    background: #ff3300;
    height: 100%;
    width: 0;
}

#play-pause {
    position: absolute;
    left: 4px;
    background: none;
    border: none;
    color: #ffffff;
    padding-top: 5px;
    padding-left: 5px;
    margin-left: 1px;
    font-size: 24px;
}

#play-pause:hover {
    color: #aaaaaa;
}


.p-volume {
    position: absolute;
    bottom: 28px;
    left: 38px;
    width: 20px;
    height: 20px;
}

#volume-button {
    background: none;
    border: none;
    font-size: 24px;
    color: #ffffff;
    z-index: 30;
    transform: translateY(50%);
}

#volume-button:hover {
    color: #aaaaaa;
}

input[type=range]#volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: -3px;
    background: #aaaaaa;
}
input[type=range]#volume-bar::-moz-range-thumb {
    transform: translateY(-4px);
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: -3px;
    background: #aaaaaa;
}
input[type=range]#volume-bar::-ms-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: -3px;
    background: #aaaaaa;
}

input[type=range]#volume-bar::-webkit-slider-runnable-track {
    width: 100px;
    height: 8px;
    background: #555555;
    border-radius: 4px;
}
input[type=range]#volume-bar::-moz-range-track {
    transform: translateY(-4px);
    width: 100px;
    height: 8px;
    background: #555555;
    border-radius: 4px;
}
input[type=range]#volume-bar::-ms-track {
    width: 100px;
    height: 8px;
    background: #555555;
    border-radius: 4px;
}

input[type=range]#volume-bar:active::-webkit-slider-thumb {
    background: #888888;
}
input[type=range]#volume-bar:active::-moz-range-thumb {
    background: #888888;
}
input[type=range]#volume-bar:active::-ms-thumb {
    background: #888888;
}

input[type=range]#volume-bar:active::-webkit-slider-runnable-track {
    background: #333333;
}
input[type=range]#volume-bar::-moz-range-track {
    background: #333333;
}
input[type=range]#volume-bar::-ms-track {
    background: #333333;
}

#volume-bar {
    position: absolute;
    top: 20px;
    left: 46px;
    width: 100px;
}

.time-display {
    transform: translateY(50%);
    margin-right: 10px;
    float: right;
    color: #ffffff;
    bottom: 12px;
}