.player {
    height: 100%;
    width: 100%;
    position: relative;
}

.p-video {
    height: 100%;
    width: 100%;
}

.p-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #ff000044;
}

.progress-bg {
    position: relative;
    background: #888888;
    height: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.progress-hover {
    background: #aaaaaa;
    height: 100%;
    width: 0;
}

.progress {
    position: absolute;
    background: #ff3300;
    height: 100%;
    width: 0;
}


.rangeslider{
    width: 50%;
}

.test{
    margin-left: 5px;
    margin-top: 5px;
}

.button{
    margin-left: 15px;
    margin-top: 1px;
    color: #ffffff;
}

.white{
    color: #ffffff;
    margin-left: 6px;
    
}

#white:hover {
    color: #888888;
    transform: scale(0.95);
}

#white {
    position: absolute;
    left: 0%;
    background: none;
    border: none;
    color: #ffffff;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 24px;
}
